<!--Grille (2 colonnes, Logo Première colonne, Info Utiliasteur seconde colonne)-->
<p id="util">Compte utilisateur</p>
<img src="../../assets/img/LogoSolumat.jpg" alt="Solumat">
  <div> 
    <mat-toolbar color="primary">
      <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
  
      <a mat-button class="companyName" routerLink="/index">
        <span>Accueil</span>
      </a>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <a mat-button [routerLink]="['/Stock']">Gestion des stocks</a>
        <a mat-button [routerLink]="['/AccueilDevis']">Gestion des devis</a>
        <a mat-button [routerLink]="['/scans']">Historique des scans</a>
        <a mat-button [routerLink]="['/logs']">Logs</a>
        <a mat-button routerLink="">Déconnexion</a>
      </div>
  
    </mat-toolbar>
    <mat-sidenav-container fxFlexFill class="example-container">
  
      <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
        <div fxLayout="column">
          <a mat-button routerLink="">Gestion des stocks</a>
          <a mat-button routerLink="">Gestion des devis</a>
          <a mat-button routerLink="">Historique des scans</a>
          <a mat-button routerLink="">Logs</a>
          <a mat-button routerLink="">Déconnexion</a>
        </div>
      </mat-sidenav>
    </mat-sidenav-container>
  </div>
  
