section {
    display: absolute;
    width: 100%;
  }
  
  .example-label {
    display: absolute;
    width: 100%;
  }
  
  .example-button-row {
    display: absolute;
    width: 100%;
    background-color: #3f51b5;
  }
button{
    color: white;
}
