<app-header-admin></app-header-admin>
<mat-divider></mat-divider>
<mat-grid-list cols="2" rowHeight="5vh">
    <mat-grid-tile class="infos" rowspan="5">
  
      <div id="societe">
        <div>
          <span>Société : 
            <mat-form-field class="auto"> 
              <mat-label>Societe</mat-label>
              <input type="text"
                     aria-label="Societe"
                     matInput
                     [formControl]="ControlSociete"
                     [matAutocomplete]="autoS"
                     [(ngModel)]='soci'
                     (keyup.enter)='getInfoS()'>
              <mat-autocomplete #autoS="matAutocomplete" style="max-height: 5vh; scroll-behavior: auto;">
                <mat-option *ngFor="let option of filteredOptionsS | async" [value]="option" style="height: 4vh;">
                  {{option}}
                </mat-option>
                <mat-option (click)='openDialogSociete()' value='' style="height: 4vh;">Ajouter</mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </span>
        </div>
        <div *ngIf="showInfosSociete">
          <div>
            <span>N°Siret : {{siret}}</span>
          </div>
          <div>
            <span> Adresse : {{adresseS}}</span>
          </div>
          <div>
            <span>Ville : {{villeS}}</span>
            <span>Code Postal: {{cpS}}</span>
          </div>
          <div>
            <span>Telephone : {{telS}}</span>
          </div>
        </div>
      </div>
      
    </mat-grid-tile>
    <mat-grid-tile class="infos" rowspan="5">
  
      <div id="chantier" >
        <div>
          <span>Chantier : 
            <mat-form-field class="auto">
              <mat-label>Chantier</mat-label>
              <input type="text"
                     aria-label="Chantier"
                     matInput
                     [formControl]="ControlChantier"
                     [matAutocomplete]="autoC"
                     [(ngModel)]='chan'
                     (keyup.enter)='getInfoC()'>
              <mat-autocomplete #autoC="matAutocomplete" style="max-height: 20vh; scroll-behavior: auto;">
                <mat-option *ngFor="let option of filteredOptionsC | async" [value]="option" style="height: 4vh;">
                  {{option}}
                </mat-option>
                <mat-option (click)='openDialogChantier()' value='' style="height: 4vh;">Ajouter</mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </span>
        </div>
        <div *ngIf="showInfosChantier">
          <div>
            <span> Adresse : {{adresseC}}</span>
          </div>
          <div>
            <span>Ville : {{villeC}}</span>
            <span>Code Postal : {{cpC}}</span>
          </div>
          <div>
            <span>Contact : 
              <mat-form-field class="auto">
                <mat-label>Contact</mat-label>
                  <input type="text"
                      aria-label="Contatc"
                      matInput
                      [formControl]="ControlContact"
                      [matAutocomplete]="autoCo"
                      [(ngModel)]='nomContact'
                      (keyup.enter)='getInfoCo()'>
                <mat-autocomplete #autoCo="matAutocomplete" style="max-height: 20vh; scroll-behavior: auto;">
                <mat-option *ngFor="let option of filteredOptionsCo | async" [value]="option" style="height: 4vh;">
                  {{option}}
                </mat-option>
                <mat-option (click)='openDialogContact()' value='' style="height: 4vh;">Ajouter</mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </span>
          </div>
          <div>
            <span>Telephone : {{telContact}}</span>
          </div>
          <div>
            <span>E-mail : {{mailContact}}</span>
          </div>
        </div>
      </div>
  
    </mat-grid-tile>
    <mat-grid-tile colspan="2" class="infos" rowspan="2">
      <div>
        <span class='deux'>Objet : <input style="width: 10vw;" [(ngModel)]='objet'></span>
        <span class='deux'>Délai de validité : <input style="width: 10vw;" [(ngModel)]='delais'></span>
      </div>
      <div style='margin-top: 1vh;'>
        <span class='deux'>Date : <input style="width: 10vw;" [(ngModel)]='date'></span>
        <span class='deux'>Date de livraison: <input style="width: 10vw;" [(ngModel)]='dateLiv'></span>
      </div>
      <div style='margin-top: 1vh;'>
        <span class='trois'>Condition prix : <input style="width: 10vw;" [(ngModel)]='condiPrix'></span>
        <span class='trois'>Condition reglement : <input style="width: 10vw;" [(ngModel)]='condiRegle'></span>
        <span class='trois'>Délai d'exécution : <input style="width: 10vw;" [(ngModel)]='delaisExec'></span>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="14" class="infos">

      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Consommable" *ngIf='btnPrestation'>

          <article id="prestation">
            <table mat-table [dataSource]="presSource" class="tableau">
              <ng-container matColumnDef="{{col}}" *ngFor="let col of ColPres">
                <th mat-header-cell *matHeaderCellDef>
                  {{col}}
                </th>
                <td mat-cell *matCellDef="let element;index as i;" [ngSwitch]='col'>
                  <mat-form-field *ngSwitchDefault>
                    <input type="text" matInput [(ngModel)]="element[col]">
                  </mat-form-field>
                  <mat-form-field *ngSwitchCase="'prix/u'" style="width: 6vh;">
                    <input type="number" matInput [(ngModel)]="element[col]" (ngModelChange)='changePrixPrestation(element)'>
                  </mat-form-field>
                  <mat-form-field *ngSwitchCase="'nombre'" style="width: 6vh;">
                    <input type="number" matInput [(ngModel)]="element[col]" (ngModelChange)='changePrixPrestation(element)'>
                  </mat-form-field>
                  <mat-form-field *ngSwitchCase="'marge'" style="width: 6vh;">
                    <input type="number" style="border-bottom: solid blue" matInput [(ngModel)]="element[col]" (ngModelChange)='changePrixPrestation(element)'>
                  </mat-form-field>
                  <mat-form-field *ngSwitchCase="'remise'" style="width: 6vh;">
                    <input type="number" style="border-bottom:solid red" matInput [(ngModel)]="element[col]" (ngModelChange)='changePrixPrestation(element)'>
                  </mat-form-field>
                  <mat-form-field *ngSwitchCase='"nom"'>
                    <input type="text"
                      aria-label="Matériel"
                      #instatePrestation
                      matInput
                      [matAutocomplete]="autoPrestation"
                      [(ngModel)]='element[col]'
                      (ngModelChange)='getInfoPrestation(instatePrestation.value, element)'
                      (input)="stateInputChange$.next(instatePrestation.value)"
                      (focus)='currentElement=element'>
                    <mat-autocomplete #autoPrestation="matAutocomplete" style="max-height: 20vh; scroll-behavior: auto;">
                      <mat-option *ngFor="let option of filteredOptionsM | async" [value]="option" style="height: 4vh;">
                        {{option}}
                      </mat-option>
                      <mat-option (click)='openDialogMat()' value='' style="height: 4vh;">Ajouter materiel</mat-option>
                      <mat-option (click)='openDialogKit()' value='' style="height: 4vh;">Ajouter Kit</mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                  <mat-form-field *ngSwitchCase='"reference"'>
                    <input type="text"
                      aria-label="Reference"
                      #instateR
                      matInput
                      [matAutocomplete]="autoRefPres"
                      [(ngModel)]='element[col]'
                      (input)="stateInputChange$.next(instateR.value)">
                    <mat-autocomplete #autoRefPres="matAutocomplete" style="max-height: 20vh; scroll-behavior: auto;">
                      <mat-option *ngFor="let option of filteredOptionsRef | async" [value]="option" style="height: 4vh;">
                        {{option}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="ColPres"></tr>
              <tr mat-row *matRowDef="let row; columns: ColPres;"></tr>
            </table>
          </article> 

        </mat-tab>
        <mat-tab label="Location" *ngIf='btnLocation'>

          <article id="location">
            <table mat-table scrollY="true" [dataSource]="locSource" class="tableau">
              <ng-container matColumnDef="{{col}}" *ngFor="let col of ColLoc">
                <th mat-header-cell *matHeaderCellDef>
                  {{col}}
                </th>
                <td mat-cell *matCellDef="let element;index as i;" [ngSwitch]='col'>
                  <mat-form-field *ngSwitchDefault>
                    <input type="text" matInput [(ngModel)]="element[col]">
                  </mat-form-field>
                  <mat-form-field *ngSwitchCase="'prix/cal'" style="width: 6vh;">
                    <input type="number" matInput [(ngModel)]="element[col]" (ngModelChange)='changePrixLocation(element)'>
                  </mat-form-field>
                  <mat-form-field *ngSwitchCase="'duree'" style="width: 6vh;">
                    <input type="number" matInput [(ngModel)]="element[col]" (ngModelChange)='changePrixLocation(element)'>
                  </mat-form-field>
                  <mat-form-field *ngSwitchCase="'typeDuree'" style="width: 10vh;">
                    <mat-select [(ngModel)]="element[col]" (ngModelChange)='changePrixLocation(element)'>
                      <mat-option value="jour">jour</mat-option>
                      <mat-option value="mois">mois</mat-option>
                      <mat-option value="annee">annee</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field *ngSwitchCase="'nombre'" style="width: 6vh;">
                    <input type="number" matInput [(ngModel)]="element[col]" (ngModelChange)='changePrixLocation(element)'>
                  </mat-form-field>
                  <mat-form-field *ngSwitchCase="'marge'" style="width: 6vh;">
                    <input type="number" style="border-bottom:solid blue" matInput [(ngModel)]="element[col]" (ngModelChange)='changePrixLocation(element)'>
                  </mat-form-field>
                  <mat-form-field *ngSwitchCase="'remise'" style="width: 6vh;">
                    <input type="number" style="border-bottom:solid red" matInput [(ngModel)]="element[col]" (ngModelChange)='changePrixLocation(element)'>
                  </mat-form-field>
                  <mat-form-field *ngSwitchCase='"nom"'>
                    <input type="text"
                      aria-label="Matériel"
                      #instateLocation
                      matInput
                      [matAutocomplete]="autoLocation"
                      [(ngModel)]='element[col]'
                      (ngModelChange)='getInfoLocation(instateLocation.value, element)'
                      (input)="stateInputChange$.next(instateLocation.value)"
                      (focus)='currentElement=element'>
                    <mat-autocomplete #autoLocation="matAutocomplete" style="max-height: 20vh; scroll-behavior: auto;">
                      <mat-option *ngFor="let option of filteredOptionsM | async" [value]="option" style="height: 4vh;">
                        {{option}}
                      </mat-option>
                      <mat-option (click)='openDialogMat()' value='' style="height: 4vh;">Ajouter materiel</mat-option>
                      <mat-option (click)='openDialogKit()' value='' style="height: 4vh;">Ajouter Kit</mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                  <mat-form-field *ngSwitchCase='"reference"'>
                    <input type="text"
                      aria-label="Reference"
                      #instateR
                      matInput
                      [matAutocomplete]="autoRefLoc"
                      [(ngModel)]='element[col]'
                      (input)="stateInputChange$.next(instateR.value)">
                    <mat-autocomplete #autoRefLoc="matAutocomplete" style="max-height: 20vh; scroll-behavior: auto;">
                      <mat-option *ngFor="let option of filteredOptionsRef | async" [value]="option" style="height: 4vh;">
                        {{option}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="ColLoc"></tr>
              <tr mat-row *matRowDef="let row; columns: ColLoc;"></tr>
            </table>
          </article> 
          
        </mat-tab>
        <mat-tab class="tableau" *ngIf='btnMo'>
          <ng-template mat-tab-label>
            <span style="margin-right: 2vh; margin-left: 2vh">Main <br> d'oeuvre</span>
          </ng-template>

          <article id="mo">
            <table mat-table scrollY="true" [dataSource]="moSource">
              <ng-container matColumnDef="{{col}}" *ngFor="let col of ColMo">
                <th mat-header-cell *matHeaderCellDef>
                  {{col}}
                </th>
                <td mat-cell *matCellDef="let element;index as i;" [ngSwitch]='col'>
                  <mat-form-field *ngSwitchDefault>
                    <input type="text" matInput [(ngModel)]="element[col]">
                  </mat-form-field>
                  <mat-form-field *ngSwitchCase="'montantHoraire'" style="width: 6vh;">
                    <input type="number" matInput [(ngModel)]="element[col]" (ngModelChange)='changePrixMo(element)'>
                  </mat-form-field>
                  <mat-form-field *ngSwitchCase="'marge'" style="width: 6vh;">
                    <input type="number" style="border-bottom:solid blue" matInput [(ngModel)]="element[col]" (ngModelChange)='changePrixMo(element)'>
                  </mat-form-field>
                  <mat-form-field *ngSwitchCase="'remise'" style="width: 6vh;">
                    <input type="number" style="border-bottom:solid red" matInput [(ngModel)]="element[col]" (ngModelChange)='changePrixMo(element)'>
                  </mat-form-field>
                  <mat-form-field *ngSwitchCase="'temps'" style="width: 6vh;">
                    <input type="number" matInput [(ngModel)]="element[col]" (ngModelChange)='changePrixMo(element)'>
                  </mat-form-field>
                  <mat-form-field *ngSwitchCase="'nombrePersonnes'" style="width: 6vh;">
                    <input type="number" matInput [(ngModel)]="element[col]" (ngModelChange)='changePrixMo(element)'>
                  </mat-form-field>
                  <mat-form-field *ngSwitchCase="'designation'" >
                    <input #instateMo type="text" matInput [(ngModel)]="element[col]" (ngModelChange)='getInfoMo(instateMo.value, element)'>
                  </mat-form-field>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="ColMo"></tr>
              <tr mat-row *matRowDef="let row; columns: ColMo;"></tr>
            </table>
          </article> 

        </mat-tab>
        <mat-tab label="Transports" *ngIf='btnTransport'>

          <article id="transport">
            <table mat-table scrollY="true" [dataSource]="trSource" class="tableau">
              <ng-container matColumnDef="{{col}}" *ngFor="let col of ColTr">
                <th mat-header-cell *matHeaderCellDef>
                  {{col}}
                </th>
                <td mat-cell *matCellDef="let element;index as i;" [ngSwitch]='col'>
                  <mat-form-field *ngSwitchDefault>
                    <input type="text" matInput [(ngModel)]="element[col]">
                  </mat-form-field>
                  <mat-form-field *ngSwitchCase="'remise'" style="width: 6vh;">
                    <input type="number" style="border-bottom:solid red" matInput [(ngModel)]="element[col]" >
                  </mat-form-field>
                  <mat-form-field *ngSwitchCase="'marge'" style="width: 6vh;">
                    <input type="number" style="border-bottom:solid blue" matInput [(ngModel)]="element[col]" >
                  </mat-form-field>
                  <mat-form-field *ngSwitchCase='"type"'>
                    <input type="text"
                      aria-label="Type"
                      #instateT
                      matInput
                      [matAutocomplete]="autoT"
                      [(ngModel)]='element[col]'
                      (ngModelChange)='getInfoTransport(instateT.value, element)'
                      (input)="stateInputChange$.next(instateT.value)"
                      (focus)='currentElement=element'>
                    <mat-autocomplete #autoT="matAutocomplete" style="max-height: 20vh; scroll-behavior: auto;">
                      <mat-option *ngFor="let option of filteredOptionsT | async" [value]="option" style="height: 4vh;">
                        {{option}}
                      </mat-option>
                      <mat-option (click)='openDialogTransport()' value='' style="height: 4vh;">Ajouter</mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                  <mat-form-field *ngSwitchCase='"zone"'>
                    <input type="text"
                      aria-label="Zone"
                      #instateZ
                      matInput
                      [matAutocomplete]="autoZ"
                      [(ngModel)]='element[col]'
                      (ngModelChange)='getInfoZone(instateZ.value, element)'
                      (input)="stateInputChange$.next(instateZ.value)"
                      (focus)='currentElement=element'>
                    <mat-autocomplete #autoZ="matAutocomplete" style="max-height: 20vh; scroll-behavior: auto;">
                      <mat-option *ngFor="let option of filteredOptionsZone | async" [value]="option" style="height: 4vh;">
                        {{option}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="ColTr"></tr>
              <tr mat-row *matRowDef="let row; columns: ColTr;"></tr>
            </table>
          </article> 

        </mat-tab>
        <!--<mat-tab label="Drag&Drop" >
            <h2>Drag&Drop :</h2>
        </mat-tab>-->
        <mat-tab label="Conditions" id="last">
          <div class="des">
            <table mat-table [dataSource]="condiSource">

              <!-- Colonne Check -->
                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                                  [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? selection.toggle(row) : null; getCondi(row, $event)"
                                  [checked]="selection.isSelected(row)"
                                  >
                    </mat-checkbox>
                  </td>
                </ng-container>
              
                <!-- Colonne Description -->
                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Description </th>
                  <td mat-cell *matCellDef="let element" [ngSwitch]='element.description'>
                    <div *ngSwitchDefault>
                      <span>{{element.description}}</span>
                    </div>
                    <div *ngSwitchCase="'Ajouter'">
                      <span (click)='openDialogCondi()'>{{element.description}}</span>
                    </div>
                  </td>
                </ng-container>
                
              
                <tr mat-header-row *matHeaderRowDef="ColCondi"></tr>
                <tr mat-row *matRowDef="let row; columns: ColCondi;"
                    (click)="selection.toggle(row)">
                </tr>
            
              </table>
            </div>
      </mat-tab>
      </mat-tab-group>

    </mat-grid-tile>
    <mat-grid-tile class="tab" colspan="2" rowspan="1" >
      <div>
        <button mat-flat-button (click)='generatePDF()' style="background-color: rgb(189, 188, 188);" [routerLink]="['/consulter']">Valider</button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>