<div class="flex-container">
  <div class="flex-item"><img src="../../assets/img/LogoSolumat.jpg"></div>
  <div class="flex-item">
    <span id="compte">{{authService.loggedUser}}</span>

    <app-menu-parametre *ngIf="authService.isAdmin()"></app-menu-parametre>

    <button mat-icon-button>
      <mat-icon style="font-size: 3vh;" (click)="onLogout()">logout</mat-icon>
    </button>
  </div>
</div>

<!-- **** -->

<!-- Début de ma toolbar -->

<div style="z-index: -1;">
  <mat-toolbar>
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon style="font-size: 3vh;">menu</mat-icon>
      </button>
    </div>

    <div fxShow="true" fxHide.lt-md="true">
      <a mat-flat-button class="item" *ngIf="authService.isAdmin() || authService.isBATEG() || authService.isADMINISTRATION() || authService.isMAGASIN()"[routerLink]="['/index']">Accueil</a>
    </div>

    <div fxShow="true" fxHide.lt-md="true">
      <a mat-flat-button class="item" *ngIf="authService.isAdmin() || authService.isMAGASIN()" [routerLink]="['/Stock']">Gestion des stocks</a>
    </div>

    <div fxShow="true" fxHide.lt-md="true">
      <a mat-flat-button class="item" *ngIf="authService.isAdmin() || authService.isADMINISTRATION()" (mouseenter)="matMenuTrigger.openMenu()" #matMenuTrigger="matMenuTrigger" [matMenuTriggerFor]="dev">Gestion des devis</a>
      <mat-menu #dev="matMenu">
        <div>
            <a  mat-menu-item [routerLink]="['/devis']">Créer Devis</a>
            <a  mat-menu-item [routerLink]="['/consulter']">Consulter Infos</a>
        </div>
    </mat-menu>
    </div>

    <div fxShow="true" fxHide.lt-md="true">
      <a *ngIf="authService.isAdmin()" mat-flat-button class="item" [routerLink]="['/carnet']">Carnet</a>
    </div>

    <div fxShow="true" fxHide.lt-md="true">
      <a mat-flat-button class="item" (mouseenter)="matMenuTrig.openMenu()" #matMenuTrig="matMenuTrigger" [matMenuTriggerFor] = "dif" *ngIf="authService.isAdmin() || authService.isADMINISTRATION() || authService.isBATEG()">Diffusion</a>
      <mat-menu #dif="matMenu">
        <a mat-flat-button *ngIf="authService.isAdmin() || authService.isADMINISTRATION() || authService.isBATEG()" [routerLink]="['/diffusion']">Commande</a>
        <a mat-flat-button *ngIf="authService.isAdmin() || authService.isADMINISTRATION() || authService.isBATEG()" [routerLink]="['/scans']">Retour</a>
      </mat-menu>
    </div>

  </mat-toolbar>

  <!-- Responsive de ma toolBar-->

  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a mat-flat-button [routerLink]="['/index']" class="item">Accueil</a>
        <a mat-flat-button [routerLink]="['/Stock']" class="item">Gestion des stocks</a>
        <a mat-flat-button [routerLink]="['/AccueilDevis']" class="item">Gestion des devis</a>
        <a *ngIf="authService.isAdmin()" mat-flat-button [routerLink]="['/carnet']" class="item">Carnet</a>
        <a mat-flat-button class="item" [matMenuTriggerFor]="dif">Diffusion</a>
        <mat-menu #dif="matMenu">
          <a mat-menu-item [routerLink]="['/diffusion']">Commande</a>
          <a mat-menu-item [routerLink]="['/scans']">Retour</a>
        </mat-menu>
      </div>
    </mat-sidenav>
    <!-- **** -->
    <mat-divider></mat-divider>
  </mat-sidenav-container>
</div>
<div class="Fleche">
  <mat-accordion>
    <mat-expansion-panel hideToggle [(expanded)]="xpandStatus" disabled>
      <mat-expansion-panel-header>
        <mat-form-field style="background-color: white; width: 100%;">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Nom PDF" #input>
        </mat-form-field>
        <button (click)='xpandStatus=xpandStatus?false:true'>
          <mat-icon>swap_vert</mat-icon>
        </button>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">Aucun pdf ne correspond à votre demande "{{input.value}}"</td>
        </tr>
      </mat-expansion-panel-header>
      <button>test</button>
    </mat-expansion-panel>
  </mat-accordion>
</div>