<img src="../../../assets/img/LogoSolumat.jpg">
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title style="padding-bottom: 2vh;">CTM Lallaing</mat-card-title>
        </mat-card-header>

        <form class="example-form">
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nom d'Utilisateur" type="text" name="nom" [(ngModel)]="user.nom">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Mot de Passe" formControlName="password" type="password" name="mdp" [(ngModel)]="user.mdp"></mat-form-field>
            </mat-card-content>
            <button mat-stroked-button class="btn-block" (click)="onLoggedin()">Connexion</button>
        </form>
    </mat-card>
</div>

